@font-face {
    font-family: 'varsity';
    src: url("font/varsity.ttf");
}
@font-face {
    font-family: 'FSEX300';
    src:url("font/FSEX300.ttf");
}

#title{
color: salmon;
font-size: 125px;
font-family: 'FSEX300';
letter-spacing: 0px;
text-shadow: 4px 0 black, 0 4px black, -4px 0 black, 0 -4px black;
text-align: center;
position: relative;
top: 200px;
z-index: 1;
opacity: 85%;
}

.carousel{
    position: relative;
    height: 650px;
    max-width: 100%;
    margin: 0 auto;
}

.carousel_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container{
    background: transparent;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 500ms;
}

.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1;
}

.carousel_button--left {
    left: 0px;
}

.carousel_button--right{
    right: 0px;
}

.carousel_button img{
    width: 35px;
}

.carousel_nav{
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.3);
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    top: -40px;
}

.carousel_indicator.current-slide{
    background: rgba(255,255,255,.9)
}

.is-hidden { display: none;}

.introduction{
    position: relative;
    max-height: 200px;
    max-width: 90%;
    margin: 0 auto;
}

.introduction_container {
    position: relative;
    background: salmon;
}

.intro-text{
    font-family: 'FSEX300';
    color: black;
    font-size: 50px;
    text-align: center;
    position: relative;
}

.information{
    position: relative;
    width: 50%;
}

.information_container{
    position: relative;
    background: transparent;
    padding-left: 25%;
}

.info-title{
    font-family: 'FSEX300';
    font-size: 45px;
    color: white;
}

.info-text{
    font-family: 'FSEX300';
    font-size: 30px;
    color: white;
    width: 100%
}

.map-position{
    position: relative;
    left: 57%;
    top: -90px;
    z-index: 2;
}
